[submodule "redash"]
	path = redash
	url = https://github.com/getredash/redash.git
[submodule "redash-setup"]
	path = redash-setup
	url = https://github.com/getredash/setup.git
[submodule "solana_query"]
	path = solana_query
	url = git@github.com:DieracDelta/solana_query
